*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    width: 60vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border:  1px solid #000;
    padding: 3rem 2rem;
}

label{
    display: block;
}


span{
    position: relative;
    font-size: 1.4rem;
    bottom: -1px;
}

.options-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

button{
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

input[type="color"]{
    appearance: none;
    background-color: transparent;
    border: none;
    width: 70px;
    height: 40px;
    cursor: pointer;
}

/* grid style */

.grid-col{
    height: 1em;
    width: 1em;
    border: 1px solid #000;
}

.grid-row{
   display: flex; 
}

@media (max-width: 768px){
    .grid-col{
        height: 0.8em;
        width: 0.8em;
    }
}